<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace -> mapping할 repository or DAO의 위치
-->
<mapper namespace="com.ecommerce.server.repository.mapper.MybatisAuthRepository">
    <select id="SelectAll" resultType="com.ecommerce.server.domain.AuthDomain">
        select email from user
    </select>
    <insert id="Save" parameterType="com.ecommerce.server.domain.AuthDomain">
        insert into user(email, name, password) value(#{email}, #{name}, #{password})
    </insert>
    <select id="Select" parameterType="String" resultType="com.ecommerce.server.domain.AuthDomain">
        select userId, email, name, password, authority from user where email=#{email}
    </select>
</mapper>