<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecommerce.server.dao.PostDetailDao">
    <select id="findWriter" parameterType="_long" resultType="com.ecommerce.server.dto.PostDetailDto$writeDto">
        select email as writer from users where user_id=#{userId}
    </select>

    <select id="findId" parameterType="_long" resultType="com.ecommerce.server.dto.PostDetailDto$postResponseDto">
        select
            name as title,
            url as postUrl,
            create_date as createdDate,
            seller_user_id as sellerId,
            category_id as category,
            price,
            amount,
            term
        from product where product_id=#{postId}
    </select>

    <select id="findOptionId" parameterType="_long" resultType="com.ecommerce.server.dto.PostOptionDto$getPostOptionDto">
        select
        product_option_id as postOptionId,
        name as optionName,
        price as optionPrice,
        amount as optionAmount
        from product_option where product_id=#{postId}
    </select>

    <insert id="save" parameterType="com.ecommerce.server.dto.PostDetailDto$writeDto">
        insert into product(name, category_id, seller_user_id, url, price, amount, term, create_date)
        value(#{title}, #{category}, #{userId}, #{postUrl}, #{price}, #{amount}, #{term}, now())
        <selectKey keyProperty="postId" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="saveOption" parameterType="java.util.List">
        insert into product_option(product_id, name, price, amount) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.postId}, #{item.optionName}, #{item.optionPrice}, #{item.optionAmount})
        </foreach>
    </insert>

</mapper>